.wrapper {
    margin-left: auto;
    margin-right: auto;
}

.button {
    top: 10%;
}

#picker { width: 200px; height: 200px; position: absolute}

#slide { width: 30px; height: 200px; position:absolute;}